{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Pagos</title>

    <!-- Estilos globales -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- Estilos específicos por app -->
    {% if current_app %}
        <link rel="stylesheet" href="{% static current_app|add:'/css/'|add:current_app|add:'.css' %}">
    {% endif %}
</head>
<body>
    <div class="contenedorPrincipal">
        <header class="contenedorPrincipal__encabezado">
            <h1 class="contenedorPrincipal__encabezado__titulo">Inicio</h1> 
            <img src="{% static 'icons/cerrar-sesion.png' %}" alt="cerrar sesion" class="contenedorPrincipal__encabezado__icono-cerrar-sesion">   
        </header>

        <div class="contenedorPrincipal__contenidoPrincipal">
            {% block content %}{% endblock %}
        </div>
        
        <footer class="contenedorPrincipal__piePagina">Developed by Luis Fernando Gasca</footer>
    </div>
    

    <!-- Scripts globales -->
    <script src="{% static 'js/scripts.js' %}"></script>

    <!-- Scripts específicos por app -->
    {% if current_app %}
        <script src="{% static current_app|add:'/js/'|add:current_app|add:'.js' %}"></script>
    {% endif %}
</body>
</html>
