{% extends 'plantillaPadre.html' %}
{% load static %}

{% block content %}

<div class="contenedor-pagos">

    <div class="seccion-acciones-pagos">
        <div>
            <samp>15/08/2025</samp>
        </div>
        <div class="seccion-acciones-pagos__botones">
            <button class="botones boton-NuevoServicio"><img src="{% static 'icons/registrar.png' %}" alt="Regitrar nuevo servicio" data-bs-toggle="modal" data-bs-target="#modalRegistro"></button>
            <button class="botones boton-RegistrarPago"><img src="{% static 'icons/agregar.svg' %}" alt="Registrar pago"></button>
        </div>
    </div>
    
    <div class="seccion-tabla">
        <table>
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Referencia</th>
                    <th>Importe</th>
                    <th>Estatus</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Luis Fernando Gasca Cano</td>
                    <td>226480</td>
                    <td>250</td>
                    <td>Pago en tiempo</td>
                    <td><span class="estatus estatus-pagado">Pagado</span></td>
                    <td>
                        <button class="botones botones-Acciones " title="Copiar"><img src="{% static 'icons/copy.png' %}" alt="Icono copiar"></button>
                        <button class="botones botones-Acciones " title="Cambiar estatus"><img src="{% static 'icons/detalles.png' %}" alt="Icono copiar"></button>
                    </td>
                </tr>
                <tr>
                    <td>Ramon Garcia Garcia</td>
                    <td>226627</td>
                    <td>250</td>
                    <td>Vencido</td>
                    <td><span class="estatus estatus-pendiente">Pendiente</span></td>
                    <td>
                        <button class="botones botones-Acciones" title="Copiar"><img src="{% static 'icons/copy.png' %}" alt="Icono copiar"></button>
                        <button class="botones botones-Acciones" title="Cambiar estatus"><img src="{% static 'icons/detalles.png' %}" alt="Icono copiar"></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Modals -->
    <div class="modal fade" id="modalRegistro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalRegistro">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            ...
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>
        </div>
    </div>
    </div>
</div>

{% endblock %}
