{% extends 'plantillaPadre.html' %}
{% load static %}

{% block content %}

<div class="contenedor-pagos">
    <div class="seccion-filtro">
        <button class="botones boton-Filtro">Filtrar ▼</button>
    </div>

    <div class="Seccion-principal-pagos">
        <div class="Seccion-principal-pagos__seccion-1">
            <div class="seccion-acciones-pagos">
                <samp>15/08/2025</samp>
                <button class="botones boton-NuevoServicio"><img src="{% static 'icons/registrar.png' %}" alt="Regitrar nuevo servicio"></button>
            </div>

            <div class="seccion-tabla">
                <table>
                    <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Referencia</th>
                            <th>Importe</th>
                            <th>Alias</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Luis Fernando Gasca Cano</td>
                            <td>226480</td>
                            <td>250</td>
                            <td>Casa</td>
                            <td><span class="estatus estatus-pagado">Pagado</span></td>
                            <td>
                                <button class="botones botones-Acciones " title="Copiar"><img src="{% static 'icons/copy.png' %}" alt="Icono copiar"></button>
                                <button class="botones botones-Acciones " title="Cambiar estatus"><img src="{% static 'icons/detalles.png' %}" alt="Icono copiar"></button>
                            </td>
                        </tr>
                        <tr>
                            <td>Ramon Garcia Garcia</td>
                            <td>226627</td>
                            <td style="color: red;">300 *</td>
                            <td>Guero</td>
                            <td><span class="estatus estatus-pendiente">Pendiente</span></td>
                            <td>
                                <button class="botones botones-Acciones" title="Copiar"><img src="{% static 'icons/copy.png' %}" alt="Icono copiar"></button>
                                <button class="botones botones-Acciones" title="Cambiar estatus"><img src="{% static 'icons/detalles.png' %}" alt="Icono copiar"></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="Seccion-principal-pagos__seccion-2">
            <div class="">
                
            </div>
            <div class="seccion-formulario">
                <h3>Registrar pago</h3>
                <form action="">

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
